/* ========== Search Bar ========== */
.searchContainer {
  position: relative;
  width: 100%;
  max-width: 450px;

  .searchInput {
    width: 100%;
    padding: 14px 20px 14px 48px;
    border: 2px solid var(--medium-gray);
    border-radius: var(--border-radius);
    font-size: 1rem;
    transition: var(--transition);
    background-color: white;
    font-weight: 500;
    color: var(--text-color);
    box-shadow: var(--box-shadow);

    &:focus {
      outline: none;
      border-color: var(--primary-light);
      box-shadow: 0 0 0 4px rgba(67, 97, 238, 0.15);
    }
  }

  .searchIcon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary-color);
    font-size: 1.2rem;
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}
